@media (min-width: 1024px) {

    .regHeader {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #migroRedLogoR {
        position: relative;
        left: -15%;
    }

    #welcomeRegister {
        width: 82%;
        margin-top: 40px;
    }

    #registerBox {
        position: absolute;
        left: 56%;
        top: 2%;
        width: 390px;
    }

    
}