/* Register Window - Media Queries for Laptop 1024px */

@media (min-width: 1024px) {

    .regHeader {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #migroRedLogoR {
        position: relative;
        left: -15%;
    }

    #welcomeRegister {
        width: 82%;
        margin-top: 40px;
    }

    #registerBox {
        position: absolute;
        left: 56%;
        top: 2%;
        width: 390px;
        height: 390px;
    }

    #emailInput,
    #passInput {
        display: flex;
        margin-top: 1px;
    } 
}

/* Register Window - Media Queries for Laptop 1440px */

@media (min-width: 1440px) {
    
    #registerBox {
    width: 450px;
    height: 450px;
    left: 60%;
    margin-top: -20%;   
    }

    #passInput {
    margin-top: 14px;
    }

    #emailInput {
    margin-top: 60px;
    }
}
