@import url('https://fonts.googleapis.com/css2?family=Combo&family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Reem+Kufi+Fun&family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Reem+Kufi+Fun&family=Roboto:wght@300&family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=DM+Mono:wght@300&family=Reem+Kufi+Fun&family=Roboto:wght@300;400&family=Yantramanav:wght@300&display=swap');


* {
    margin: 2rem 0rem 0rem 0rem;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #595775;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 340px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#migroredlogo {
    width: 75%;
    margin-top: -3.5rem;
}


p {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family: 'DM Mono';
    font-size: 19px;
    margin-left: 25px;
    margin-right: 25px;
}

.welcomeMessage {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-family: 'DM Mono';
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
}

/* button {
    background-color: aliceblue;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
} */


#sectioni {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    background-color: #F1E0D6;
    border-radius: 10px;
    margin-top: 6px;
    height: 16rem;
}

#emailLogin,
#passwordLogin {
    padding: 8px 8px 8px 25px;
    width: 240px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-left: 40px;
    font-family: 'DM Mono';
    color: #595775;
}

#registerBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    background-color: #F1E0D6;
    border-radius: 10px;
    margin-top: 6px;
    /* margin-right: 2rem;
    margin-left: 2rem; */
    height: 16rem;
    /* margin-top: 6px; */
}

#emailInput,
#passInput {
    padding: 4px 8px 6px 25px;
    width: 240px;
    margin-top: 30px;
    margin-bottom: 6px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-left: 40px;
    font-family: 'DM Mono';
    color: #595775;
}


#passwordLogin {
    margin-top: 1px;
}

#passInput {
    margin-top: 1px;
}

#loginButton1,
#registerButton {
    padding: 6px;
    background-color: #595775;
    border-radius: 5px;
    color: white;
    width: 240px;
    /* margin-right: 50px; */
    margin-left: 40px;
    font-family: 'DM Mono', medium;
    font-size: 13px;
    margin-top: 1px;
}

#googleLoginBtnG,
#googleRegisterBtn {
    width: 240px;
    height: 29px;
    padding: 6px;
    margin-left: 40px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'DM Mono', medium;
    color: #595775;
    background-image: url(img/btn_google_light_normal_ios.png);
    background-repeat: no-repeat;
    background-size: 29px;
    background-position: -1px;
    border: none;
    background-color: white;
    color: 0, 0, 0 (54%);
    margin-top: 10px;
}

#registerLink1,
#backToLoginBtn {
    background-color: #F1E0D6;
    border-radius: 5px;
    color: white;
    width: 210px;
    height: 40px;
    margin-right: 50px;
    margin-left: 55px;
    font-family: 'DM Mono', mixed;
    font-size: 14px;
    box-shadow: black;
    margin-top: 10px;
    border: none;
    color: black;
}

#diversityImage {
    width: 100%;
    margin-bottom: -2rem;
}

/* Wall Style*/

#backButton1 {
    width: 70px;
    padding: 4px;
    background-color: #ABA6BF;
    margin-left: 300px;
    margin-top: 88px;
    border-radius: 7px;
    color: black;
    font-size: 15px;
    font-family: 'DM Mono', mixed;
    border: none;
    box-shadow: 0.5px 0.5px 1px 1px #F1E0D6;
}

#welcomeWall {
    color: white;
    margin-top: 10px;
}

#sectionPost {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 11px;
    background-color: #F1E0D6;
}

#postContent {
    width: 300px;
    padding: 20px;
    background-color: white;
    margin-left: 15px;
    margin-top: 25px;
    text-align: center;
    border-radius: 11px;
    border: none;
    resize: none;
    font-size: 15px;
    box-shadow: inset 2px 1px 1px 1px rgb(176, 169, 168);
}

#postButton1 {
    width: 100px;
    height: 32px;
    margin-top: 5px;
    margin-left: 215px;
    margin-block-end: 10px;
    border-radius: 10px;
    border: none;
    background-color: #595775;
    color: white;
    font-family: 'DM Mono', mixed;
}

/*.posters {
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 11px;
    display: inline-block;
    background-color: black;
}

.postComplete {
    width: 300px;
    padding: 20px;
    background-color: #595775;
    margin-left: 15px;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
    border-radius: 11px;
    border: none;
    resize: none;
    font-size: 15px;
    font-family: 'DM Mono', mixed;
    display: inline-block;
    box-shadow: inset 2px 1px 1px 1px rgb(176, 169, 168);
}*/

.btn-delete {
    width: 100px;
    height: 32px;
    margin-top: 5px;
    margin-left: 215px;
    margin-block-end: 10px;
    border-radius: 10px;
    border: none;
    background-color: #595775;
    color: white;
    font-family: 'DM Mono', mixed;

}

/* #postArea VISTA MURO{
     background-color: blue;
} */

/* aplicando Quarys Selectors Tablet 760px */
/* @media (min-width: 760px) {

    sectioin,
    #registerBox {
        padding: 3rem 1rem 1rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 37rem;
        margin-left: 10%;
        margin-right: 10%;
    }

    #diversityImage {
        margin-top: 1.5rem;
    }

    p,
    .welcomeMessage {
        font-size: 25px;
    }

    #emailLogin,
    #passwordLogin,
    #emailInput,
    #passInput {
        width: 80%;
        height: 18%;
        margin-top: 10px;
        border-radius: 15px;
        font-size: 25px;
    }

    #loginButton1,
    #registerButton {
        border-radius: 15px;
        width: 80%;
        height: 18%;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 14%;
    }

    #googleLoginBtnG,
    #googleRegisterBtn {
        width: 80%;
        height: 18%;
        border-radius: 15px;
        font-size: 25px;
        background-size: 70px;
        background-position: 95px;
        margin-top: 20px;
    }

    #registerLink1,
    #backToLoginBtn {
        border-radius: 15px;
        width: 80%;
        height: 18%;
        font-size: 22px;
        margin: 1rem 1rem -5rem 1rem;
    } */

    /* Aplicando Quarys Selectors para Laptop */
    /* @media (min-width: 1020px) {

        #sectioni,
        #registerBox {
            padding: 1rem 2rem 1rem 0rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 18rem;
            margin-top: 5rem;
            margin-left: 30%;
            margin-right: 64%;
        }

        #diversityImage {
            width: 45%;
            margin-left: 22rem;
            margin-top: 0rem;
            position: absolute;
        }

        p,
        .welcomeMessage {
            font-size: 23px;
            margin-top: 3rem;
        }

        #loginButton1,
        #registerButton {
            border-radius: 15px;
            height: 16%;
            margin-left: 26%;
        }

        #migroredlogo {
            width: 30%;
            margin: -0.8rem 1rem -2rem 1rem;
        }
    }

     */


.post {
    padding: 20px;
    background-color: white;
    border: none;
    margin-top: 20px;
    border-radius: 10px ;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: inset 2px 1px 1px 1px rgb(176, 169, 168);
}

.postBox {
    background-color: #F1E0D6;
    margin-top: 20px;
    margin-left: 26px;
    margin-right: 26px;
    border-radius: 11px;
}


