@import url('https://fonts.googleapis.com/css2?family=Combo&family=Reem+Kufi+Fun&family=Roboto:wght@300&family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=DM+Mono:wght@300&family=Reem+Kufi+Fun&family=Roboto:wght@300;400&family=Yantramanav:wght@300&display=swap');

@import url('./registerStyle.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #595775;
    max-width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 340px;
}

/* Welcome Styles*/
#migroRedLogo,
#migroRedLogoR {
    width: 300px;
    margin: 30px;
}

p {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: 'DM Mono';
    font-size: 19px;
    margin-left: 25px;
    margin-right: 25px;
}

.welcomeMessage {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-family: 'DM Mono';
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
}

#sectioni,
#registerBox {
    margin-bottom: 17px;
    background-color: #F1E0D6;
    border-radius: 10px;
    margin-top: 55px;
    margin-left: 30px;
    margin-right: 30px;
}

#emailLogin, 
#passwordLogin {
    padding: 8px 8px 8px 25px;
    width: 240px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px; 
    background-color: white;
    border: none;
    margin-left: 40px;
    font-family: 'DM Mono';
    color: #595775;
}

#emailInput, 
#passInput {
    padding: 8px 8px 8px 25px;
    width: 240px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px; 
    background-color: white;
    border: none;
    margin-left: 40px;
    font-family: 'DM Mono';
    color: #595775;
}

#passwordLogin {
    margin-top: 1px; 
}

#loginButton1,
#registerButton {
    padding: 6px;
    background-color: #595775;
    border-radius: 5px;
    color: white;
    width: 240px;
    margin-right: 50px;
    margin-left: 40px;
    font-family: 'DM Mono', medium;
    font-size: 13px;
    margin-top: 1px;
    cursor: pointer;
}

#googleLoginBtnG, 
#googleRegisterBtn {
    width: 240px;
    height: 29px;
    padding: 6px;
    margin-left: 40px;
    border-radius: 10px;
    background-image: url(img/btn_google_signin_light_normal_web.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: none;
    background-color: white;
    color: 0,0,0 (54%);
    margin-top: 10px;
    cursor: pointer;
}

#registerLink1,
#backToLoginBtn {
    background-color: #F1E0D6;
    border-radius: 5px;
    color: white;
    width: 210px;
    height: 40px;
    margin-right: 50px;
    margin-left: 55px;
    font-family: 'DM Mono', mixed;
    font-size: 14px;
    box-shadow:black;
    margin-top: 10px;
    border: none;
    color: black;
    cursor: pointer;
}

#diversityImage {
    width: 100%;
    margin-top: 1rem;
    bottom: 0;
}

#error-paragraph {
    margin-top: 10px;
}

/* Wall Style*/
#migroRedLogoW {
    width: 164px;
    margin-top: 8px;
    margin-left: 12px;
}

#backButton1 {
    width: 71px;
    padding: 4px;
    background-color: #ABA6BF;
    margin-left: 95px;
    margin-top: 15px;
    border-radius: 7px;
    color: black;
    font-size: 11px;
    font-family: 'DM Mono', mixed;
    border: none;
    box-shadow: 0.5px 0.5px 1px 1px #F1E0D6;
}

#welcomeWall {
    color: white;
    margin-top: 15px;
    font-size: 13px;
    margin-left: 19px;
}

#sectionPost {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 11px;
    background-color: #F1E0D6;
    position: -webkit-sticky; /* Mantiene estático el sectionPost */
    position: sticky;
    top: 0;
    height: 111px;
}

#postContent {
    width: 284px;
    padding: 15px;
    background-color: white;
    margin-left: 15px;
    margin-top: 14px;
    text-align: center;
    border-radius: 11px;
    border: none;
    resize: none;
    font-size: 15px;
    box-shadow: inset 2px 1px 1px 1px rgb(176, 169, 168);
    font-size: 13px;
}

#postButton1 {
    width: 79px;
    height: 25px;
    margin-top: 2px;
    margin-left: 221px;
    margin-block-end: 10px;
    border-radius: 10px;
    border: none;
    background-color: #595775;
    color: white;
    font-family: 'DM Mono', mixed;
    font-size: 11px;
}

.btn-delete {
    width: 79px;
    height: 25px;
    margin-top: -24px;
    margin-left: 215px;
    margin-block-end: 10px;
    border-radius: 10px;
    border: none;
    background-color: #595775;
    color: white;
    font-family: 'DM Mono', mixed;
    font-size: 11px;
    display: flex;
}

.post {
    padding: 21px;
    background-color: white;
    border: none;
    border-radius: 10px ;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: inset 2px 1px 1px 1px rgb(176, 169, 168);
    margin-top: -14px;
    height: 71px;
    font-size: 11px;
}

.postBox {
    background-color: #F1E0D6;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 26px;
    border-radius: 11px;
    height: 131px;
    width: 315px;
}

h2 {
    color: #595775;
    font-size: 15px;
    margin-left: 49px;
}

.btn-edit {
    width: 20px;
    height: 20px;
    background-image: url(img/editar-texto.png);
    background-size: contain;
    background-color:#F1E0D6;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    margin-left: 123px;
    margin-top: 62px;
    border-radius: 0px;
    display: flex;
}

.btn-like {
    background-image: url(img/like.png);
    background-size: contain;
    background-color: #F1E0D6;
    border: none;
    width: 28px;
    height: 29px; 
    margin-top: -28px;  
    border-radius: 9px;
    margin-left: 35px; 
    position: relative;
    display: flex;
}

.counter-likes {
    color: black;
    font-size: 15px;
    margin-left: -232px;
    position: relative;
}

/* Media Queries for Mobile S Register, login & Wall*/
@media (max-width: 320px) {
    body {
        max-width: 50%;
        background-size: 340px;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #migroRedLogo {
        margin-left: 280px;
        margin-top: -2px;
    }

    #migroRedLogoR {
        margin-left: 5px;
        margin-top: 6px;
    }
    
    p {
        font-size: 12px;
        width: 400%;
        margin-top: -10px;
        margin-left: 250px;
        margin-right: 0px;  
    }
    
    .welcomeMessage {
        font-size: 9px;
        width: 400%;
        margin-left: 250px;
        margin-right: 0px;
        margin-top: 21px;
    }

    #welcomeRegister {
        margin-left: 40px;
        width: 250px;
        margin-top: 4px;
    }
    
    #sectioni,
    #registerBox {
        position: relative;
        left: 1%;
        margin-bottom: 17px;
        margin-top: 4px;
        height: 158px;
        width: 260px;
    }
    
    #emailLogin, 
    #passwordLogin,
    #emailInput,
    #passInput {
        padding: 1px 1px 1px 1px;
        width: 217px;
        margin-top: 9px;
        margin-bottom: 15px;
        margin-left: 20px;
        font-size: 11px;
    }

    #passwordLogin {
        margin-top: 1px; 
    }

    #loginButton1,
    #registerButton {
        padding: 1px 1px 1px 1px;
        width: 220px;
        margin-right: 50px;
        margin-left: 20px;
        font-size: 14px;
        margin-top: 1px;
        font-size: 11px;
    }

    #googleLoginBtnG, 
    #googleRegisterBtn {
        width: 219px;
        height: 22px;
        padding: 2px 2px 2px 2px;
        margin-left: 20px;
        font-size: 14px;
        margin-top: 10px;
    }

    #registerLink1,
    #backToLoginBtn {
        width: 200px;
        height: 10px;
        margin-right: 50px;
        margin-left: 30px;
        font-size: 7px;
        margin-top: -19px;
    }

    #diversityImage {
        width: 320px;
        margin-top: 1px;
        margin-left: 0%;
        margin-bottom: 0px;
        height: 120px;
        position: end;
    }

    #error-paragraph {
        margin-top: 10px;
    }

    /*Media Queries Wall for Mobile S*/
    #migroRedLogoW {
        margin-left: 119px;
    }
    
    #backButton1 {
        margin-left: 463px;
        margin-top: -23px;
    }
    
    #welcomeWall {
        margin-left: 250px;
    }
    
    #sectionPost {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        position: -webkit-sticky; /* Mantiene estático el sectionPost */
        position: sticky;
        top: 0;
        height: 111px;
        width: 268px;
    }
    
    #postContent {
        width: 237px;
        margin-left: 15px;
        margin-top: 14px;
    }
    
    #postButton1 {
        width: 79px;
        height: 25px;
        margin-top: 2px;
        margin-left: 174px;
        margin-block-end: 10px;
    }
    
    .btn-delete {
        width: 79px;
        height: 25px;
        margin-top: -24px;
        margin-left: 171px;
        margin-block-end: 10px;
        display: flex;
    }
    
    .post {
        padding: 13px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -14px;
        height: 71px;
        width: 228px;
    }
    
    .postBox {
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 26px;
        height: 131px;
        width: 269px;
    }
    
    h2 {
        margin-left: 49px;
    }
    
    .btn-edit {
        width: 20px;
        height: 20px;
        position: absolute;
        margin-left: 123px;
        margin-top: 62px;
        display: flex;
    }
    
    .btn-like {
        width: 28px;
        height: 29px; 
        margin-top: -28px;  
        margin-left: 35px; 
        position: relative;
        display: flex;
    }
    
    .counter-likes {
        margin-left: -509px;
        position: relative;
        margin-top: 10px;
    }
}

/* Media Queries for Mobile L */
@media (min-width: 376px) and (max-width: 425px) {
    body {
        max-width: 50%;
        background-size: 340px;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #migroRedLogo {
        margin-bottom: 25px;
        margin-left: 343px;
        margin-top: 17px;
    }

    #migroRedLogoR {
        margin-left: 50px;
        margin-top: 5px;
    }
    
    p {
        font-size: 16px;
        width: 400%;
        margin-top: 0px;
        margin-left: 320px;
        margin-right: 0px;  
    }
    
    .welcomeMessage {
        font-size: 12px;
        width: 400%;
        margin-left: 320px;
        margin-right: 0px;
        margin-top: 43px;
    }

    #welcomeRegister {
        margin-left: 40px;
        width: 345px;
    }
    
    #sectioni,
    #registerBox {
        position: relative;
        left: 17%;
        margin-top: 42px;
        height: 196px;
        width: 279px;
    }
    
    #emailLogin, 
    #passwordLogin,
    #emailInput,
    #passInput {
        padding: 5px 5px 5px 5px;
        width: 220px;
        margin-top: 10px;
        margin-left: 29px;
    }

    #passwordLogin {
        margin-top: 1px; 
    }

    #loginButton1,
    #registerButton {
        padding: 5px 5px 5px 5px;
        width: 220px;
        margin-right: 50px;
        margin-left: 29px;
        font-size: 14px;
        margin-top: 1px;
        cursor: pointer;
    }

    #googleLoginBtnG, 
    #googleRegisterBtn {
        width: 220px;
        height: 25px;
        padding: 5px 5px 5px 5px;
        margin-left: 29px;
        border-radius: 10px;
        margin-top: 10px;
        cursor: pointer;
    }

    #registerLink1,
    #backToLoginBtn {
        width: 200px;
        height: 10px;
        margin-right: 50px;
        margin-left: 30px;
        font-size: 9px;
        margin-top: -19px;
    }

    #diversityImage {
        width: 376px;
        margin-top: 25px;
        margin-left: 4%;
        margin-bottom: 0px;
        height: 140px;
        position: end;
    }

    #error-paragraph {
        margin-top: 10px;
    }
}

/* Media Queries for Tablet */
@media (min-width: 426px) and (max-width: 834px) {

    body {
        max-width: 100%;
        background-size: 340px;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #migroRedLogo{
        margin-bottom: 25px;
        margin-left: 279px;
        height: 108px;
        width: 502px;
        margin-top: 25px;
    }

    #migroRedLogoR{
        margin-bottom: 25px;
        margin-left: 133px;
        height: 108px;
        width: 502px;
        margin-top: 15px;
    }
    
    p {
        font-size: 27px;
        width: 123%;
        margin-top: 6px;
        margin-left: 296px;
        margin-right: 0px;
    }
    
    .welcomeMessage {
        font-size: 19px;
        width: 134%;
        margin-left: 295px;
        margin-top: 28px;
    }

    #welcomeRegister {
        font-size: 24px;
        width: 90%;
        margin-left: 55px;
        margin-right: 0px;
        margin-top: 28px
    }
    
    #sectioni {
        position: relative;
        left: 17%;
        margin-bottom: 17px;
        margin-top: 77px;
        height: 276px;
        width: 425px;
    }

    #registerBox {
        position: relative;
        left: 17%;
        margin-bottom: 17px;
        margin-top: 33px;
        height: 297px;
        width: 425px;
    }
    
    #emailLogin, 
    #passwordLogin,
    #emailInput,
    #passInput {
        padding: 8px 8px 8px 8px;
        width: 349px;
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 36px;
    }

    #passwordLogin {
        margin-top: 1px; 
    }

    #loginButton1,
    #registerButton {
        padding: 8px 8px 8px 8px;
        width: 349px;
        margin-right: 50px;
        margin-left: 36px;
        font-size: 14px;
        margin-top: 1px;
    }

    #googleLoginBtnG, 
    #googleRegisterBtn {
        width: 349px;
        height: 33px;
        padding: 8px 8px 8px 8px;
        margin-left: 36px;
        margin-top: 10px;
    }

    #registerLink1,
    #backToLoginBtn {
        width: 300px;
        height: 40px;
        margin-right: 50px;
        margin-left: 51px;
        font-size: 14px;
        margin-top: 16px;
    }

    #diversityImage {
        width: 67%;
        margin-top: 2rem;
        margin-left: 14%;
        margin-bottom: 0px;
    }

    #error-paragraph {
        margin-top: 10px;
    }

    #error-paragraph {
        margin-top: 10px;
        margin-left: -9%;
        font-size: 23px;
    }
}

/* Login Window - Media Queries for Laptop 1024px */
@media (min-width: 835px) and (max-width: 1439px) {

    body {
        max-width: 100%;
        background-size: 340px;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #migroRedLogo{
        margin-bottom: 25px;
        margin-left: -152px;
    }
    
    p {
        font-size: 16px;
        width: 80%;
        margin-top: 9px;
        margin-left: 0px;
        margin-right: 0px;  
    }
    
    .welcomeMessage {
        font-size: 16px;
        width: 80%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    #sectioni {
        position: relative;
        left: 56%;
        margin-top: -294px;
        height: 390px;
        width: 390px;
    }
    
    #emailLogin, 
    #passwordLogin,
    #emailInput,
    #passInput {
        padding: 20px 20px 20px 20px;
        width: 320px;
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 36px;
    }

    #passwordLogin {
        margin-top: 1px; 
    }

    #loginButton1,
    #registerButton {
        padding: 20px 20px 20px 20px;
        width: 320px;
        margin-right: 50px;
        margin-left: 36px;
        font-size: 14px;
        margin-top: 1px;
    }

    #googleLoginBtnG, 
    #googleRegisterBtn {
        width: 320px;
        height: 55px;
        padding: 20px 20px 20px 20px;
        margin-left: 36px;
        margin-top: 10px;
    }

    #registerLink1,
    #backToLoginBtn {
        width: 300px;
        height: 40px;
        margin-right: 50px;
        margin-left: 51px;
        font-size: 14px;
        margin-top: 16px;
    }

    #diversityImage {
        width: 50%;
        margin-top: 2rem;
        margin-left: 10%;
        margin-bottom: 0px;
        position: fixed;
    }

    #error-paragraph {
        margin-top: 10px;
    }

}

/* Login Window - Media Queries for Laptop 1440px */
@media (min-width: 1440px) {
    #sectioni {
        width: 450px;
        height: 450px;
        margin-left: 63%;
        margin-top: 4%;
    }

    #emailLogin, 
    #passwordLogin,
    #emailInput,
    #passInput {
        padding: 20px 20px 20px 20px;
        width: 380px;
        height: 60px;
        margin-bottom: 15px;
        margin-left: 36px;
        font-size: 16px;
    }

    #passwordLogin {
        margin-top: 7px;
    }

    #emailLogin,
    #emailInput {
        margin-top: 60px;
    }

    #loginButton1,
    #registerButton {
        padding: 20px 20px 20px 20px;
        background-color: #595775;
        border-radius: 5px;
        width: 380px;
        margin-right: 50px;
        margin-left: 36px;
        font-size: 16px;
        margin-top: 1px;
    }

    #googleLoginBtnG, 
    #googleRegisterBtn {
        width: 380px;
        height: 60px;
        padding: 20px 20px 20px 20px;
        margin-left: 36px;
        margin-top: 10px;
    }

    #registerLink1,
    #backToLoginBtn {
        width: 380px;
        height: 40px;
        margin-right: 50px;
        margin-left: 39px;
        font-size: 16px;
        margin-top: 16px;    
    }

    #diversityImage {
        width: 50%;
        margin-top: 2rem;
        margin-left: 10%;
        margin-bottom: 0px;
        position: fixed;
    }
}