@import url('https://fonts.googleapis.com/css2?family=Combo&family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Reem+Kufi+Fun&family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Reem+Kufi+Fun&family=Roboto:wght@300&family=Yantramanav:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=DM+Mono:wght@300&family=Reem+Kufi+Fun&family=Roboto:wght@300;400&family=Yantramanav:wght@300&display=swap');


@import url('./registerStyle.css');
@import url('./wallStyle.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #595775;
    max-width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 340px;
}

/* Welcome Styles*/

#migroRedLogo,
#migroRedLogoR {
    width: 300px;
    margin: 30px;
}

p {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: 'DM Mono';
    font-size: 19px;
    margin-left: 25px;
    margin-right: 25px;
}

.welcomeMessage {
    color: white;
    text-align: center;
    margin-top: 30px;
    font-family: 'DM Mono';
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
}

button {
    background-color: aliceblue;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}


#sectioni,
#registerBox {
    margin-bottom: 17px;
    background-color: #F1E0D6;
    border-radius: 10px;
    margin-top: 55px;
    margin-left: 30px;
    margin-right: 30px;
}

#emailLogin, 
#passwordLogin {
    padding: 8px 8px 8px 25px;
    width: 240px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px; 
    background-color: white;
    border: none;
    margin-left: 40px;
    font-family: 'DM Mono';
    color: #595775;
}

#emailInput, 
#passInput {
    padding: 8px 8px 8px 25px;
    width: 240px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px; 
    background-color: white;
    border: none;
    margin-left: 40px;
    font-family: 'DM Mono';
    color: #595775;
}


#passwordLogin {
    margin-top: 1px; 
}

#loginButton1,
#registerButton {
    padding: 6px;
    background-color: #595775;
    border-radius: 5px;
    color: white;
    width: 240px;
    margin-right: 50px;
    margin-left: 40px;
    font-family: 'DM Mono', medium;
    font-size: 13px;
    margin-top: 1px;
    cursor: pointer;
}

#googleLoginBtnG, 
#googleRegisterBtn {
    width: 240px;
    height: 29px;
    padding: 6px;
    margin-left: 40px;
    border-radius: 10px;
    font-size: 14px;
    color: #595775;
    background-image: url(img/btn_google_signin_light_normal_web.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: none;
    background-color: white;
    color: 0,0,0 (54%);
    margin-top: 10px;
    cursor: pointer;
}

#registerLink1,
#backToLoginBtn {
    background-color: #F1E0D6;
    border-radius: 5px;
    color: white;
    width: 210px;
    height: 40px;
    margin-right: 50px;
    margin-left: 55px;
    font-family: 'DM Mono', mixed;
    font-size: 14px;
    box-shadow:black;
    margin-top: 10px;
    border: none;
    color: black;
    cursor: pointer;
}

#diversityImage {
    width: 100%;
    margin-top: 1rem;
    bottom: 0;
}

#error-paragraph {
    margin-top: 10px;
}

/* Wall Style*/

#backButton1 {
    width: 70px;
    padding: 4px;
    background-color: #ABA6BF;
    margin-left: 300px;
    margin-top: 88px;
    border-radius: 7px;
    color: black;
    font-size: 15px;
    font-family: 'DM Mono', mixed;
    border: none;
    box-shadow: 0.5px 0.5px 1px 1px #F1E0D6;
}

#welcomeWall {
    color: white;
    margin-top: 10px;
}

#sectionPost {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    border-radius: 11px;
    background-color: #F1E0D6;
}

#postContent {
    width: 300px;
    padding: 20px;
    background-color: white;
    margin-left: 15px;
    margin-top: 25px;
    text-align: center;
    border-radius: 11px;
    border: none;
    resize: none;
    font-size: 15px;
    box-shadow: inset 2px 1px 1px 1px rgb(176, 169, 168);
}

#postButton1 {
    width: 100px;
    height: 32px;
    margin-top: 5px;
    margin-left: 215px;
    margin-block-end: 10px;
    border-radius: 10px;
    border: none;
    background-color: #595775;
    color: white;
    font-family: 'DM Mono', mixed;
}

.btn-delete {
    width: 100px;
    height: 32px;
    margin-top: 5px;
    margin-left: 215px;
    margin-block-end: 10px;
    border-radius: 10px;
    border: none;
    background-color: #595775;
    color: white;
    font-family: 'DM Mono', mixed;
}

.post {
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 10px ;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: inset 2px 1px 1px 1px rgb(176, 169, 168);
}

.postBox {
    background-color: #F1E0D6;
    margin-top: 15px;
    margin-left: 26px;
    margin-right: 26px;
    border-radius: 11px;
}

.btn-edit {
    width: 20px;
    height: 20px;
    background-image: url(img/editar-texto.png);
    background-size: contain;
    background-color:#F1E0D6;
    border: none;
    position: relative;
    margin-left: 25px;
    margin-top: -100px;
    
}

/* Media Queries for Laptop */

@media (min-width: 1024px) {

    body {
        background-color: #595775;
        max-width: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: 340px;
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    #migroRedLogo{
        margin-bottom: 25px;
        margin-left: -152px;
    }
    
    p {
        font-size: 16px;
        width: 80%;
        margin-top: 9px;
        margin-left: 0px;
        margin-right: 0px;  

    }
    
    .welcomeMessage {
        font-size: 16px;
        width: 80%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    button {
        background-color: aliceblue;
        margin-top: 30px;
        justify-content: center;
        text-align: center;
    }
    
    
    #sectioni {
        position: relative;
        left: 56%;
        margin-bottom: 17px;
        background-color: #F1E0D6;
        border-radius: 10px;
        margin-top: -294px;
        height: 390px;
        width: 390px;

    }
    
    #emailLogin, 
    #passwordLogin,
    #emailInput,
    #passInput  {
        padding: 20px 20px 20px 20px;
        width: 320px;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 5px; 
        background-color: white;
        border: none;
        margin-left: 36px;
        font-family: 'DM Mono';
        color: #595775;
    }

#passwordLogin {
    margin-top: 1px; 
}

#loginButton1,
#registerButton {
    padding: 20px 20px 20px 20px;
    background-color: #595775;
    border-radius: 5px;
    color: white;
    width: 320px;
    margin-right: 50px;
    margin-left: 36px;
    font-family: 'DM Mono', medium;
    font-size: 14px;
    margin-top: 1px;
    cursor: pointer;
}

#googleLoginBtnG, 
#googleRegisterBtn {
    width: 320px;
    height: 55px;
    padding: 20px 20px 20px 20px;
    margin-left: 36px;
    border-radius: 10px;
    font-size: 14px;
    color: #595775;
    background-image: url(img/btn_google_signin_light_normal_web.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: none;
    background-color: white;
    color: 0,0,0 (54%);
    margin-top: 10px;
    cursor: pointer;
}

#registerLink1,
#backToLoginBtn {
    background-color: #F1E0D6;
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 40px;
    margin-right: 50px;
    margin-left: 51px;
    font-family: 'DM Mono', mixed;
    font-size: 14px;
    box-shadow:black;
    margin-top: 16px;
    border: none;
    color: black;
    cursor: pointer;
}

#diversityImage {
    width: 50%;
    margin-top: 2rem;
    margin-left: 10%;
    margin-bottom: 0px;
    position: fixed;
}

#error-paragraph {
    margin-top: 10px;
}
    

}
